body {


    background-color:#dddddd;
    font:10pt verdana;
    margin-bottom:0; margin-left :0;
    margin-top:0; margin-right:0;
}

h1
{
    background-color:Navy;
    color:White;
    font:700 30pt arial;
    letter-spacing:10pt;
    text-align:center ;
}

